{% extends 'base.html' %}

{% load humanize %}
{% block title %}{{ board.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">论坛</a></li>
    <li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block content %}
    <div class="mb-4">
        <a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">新话题</a>
    </div>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>话题</th>
            <th>作者</th>
            <th>回复</th>
            <th>查看</th>
            <th>最后更新</th>
        </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>
                <td><a href="{% url 'topic_posts' board.pk topic.pk %}">{{ topic.subject }}</a></td>
                <td>{{ topic.starter.username }}</td>
                <td>{{ topic.replies }}</td>
                <td>{{ topic.views }}</td>
                <td>{{ topic.last_updated|naturaltime }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'includes/pagination.html' %}
{% endblock %}